{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Ouled Bakkar{% endblock %}

{% block content %}
   <div class="container adresse">
        <div class="p-5 mb-5 bg-light">
            <h2 class="display-3 text-center">Mes adresse</h2>
            <p class="lead text-center mb-3 bg-danger bg-gradient p-3 rounded-3">  Vous ête connecté en tant que {{ app.user.Firstname }} {{ app.user.lastname }}</p>
            <hr class="my-2">  
        </div> 
        
        {% if app.user.addresses|length == 0 %}
            <p class="text-center">Vous n'avez pas encore ajouter d'adresse dans votre compte client. Pour en ajouter une, veuillez <a href="{{path('account_address_new')}}"  class="btn">cliquer ici.</a></p>

        {% else %}
        <div class="d-flex justify-content-end">
            <a href="{{path('account_address_new')}}" class="btn"> Ajouter une adresse</a>
        </div>
        <div class="card shadow-2-strong my-5">
            <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                    <table class="table table-dark mb-0 table-hover table-responsive">
                        <thead >
                            <tr class="text-uppercase text-success">
                            <th scope="col">Nom de l'adresse</th>
                            <th scope="col">Numéro + rue</th>
                            <th scope="col">Complément d'adresse</th>
                            <th scope="col">Code postal</th>
                            <th scope="col">ville</th>
                            <th scope="col">Pays</th>
                            <th scope="col">Tléléphone</th>
                            <th scope="col">Société</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in app.user.addresses %}
                            <tr>
                                <td>{{ address.name }}</td>
                                <td>{{ address.address }}</td>
                                <td>{{ address.complement }}</td>
                                <td>{{ address.postal }}</td>
                                <td>{{ address.city }}</td>
                                <td>{{ address.country }}</td>
                                 <td>{{ address.phone }}</td>
                                <td>{{ address.campany }}</td>
                                <td>
                                    <a href="{{ path('account_address_edit', {'id': address.id}) }}"  class="btn">Modifier</a> |
                                    <a href="{{ path('account_address_delete', {'id': address.id}) }}"  class="btn">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        
                            </tbody>
                    </table>
                </div> 
            </div>
        </div>           
        {% endif %}
    
   </div>
{% endblock %}
