{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - Ouled Bakkar {% endblock %}

{% block main %}
<div class="container">
    <h2>Erreur de payement de commande</h2>
    <div class="row">

       <p> Bonjour {{order.user.firstname}} {{order.user.lastname}}</p>
       <p>Il semblerait que votre paiement est échoué pour votre commande n°{{ order.reference}} , une confirmation d'erreur viens de vous être envoyé par email à l'adresse {{ order.user.email}}</p>
       <p> <a href="{{path('app_order')}}" class="btn btn-secondary">Réessayer le paiement</a></p>

    </div>
</div>
{% endblock %}
