{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block content %}
    <div class="container connexion">
        <div class="block-small">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
        
                <h1 class="h3 mb-3 font-weight-normal text-center">Connectez-vous</h1>
                <label for="inputEmail" class="mt-5">Votre email</label>
    
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Votre email">
    
                <label for="inputPassword">Votre mot de passe</label>
    
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe">
        
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
        
                    <hr>
                <button class="btn btn-primary " type="submit">
                    Se connecter
                </button >
                <div class="form-note text-center">Vous n'avez pas de compte <a href="{{path('app_register')}}">Inscrivez-vous</a></div>
                
                <div class="form-note text-center"> <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié
        
                </a></div>
            </form>
        </div>
        
    </div>
{% endblock %}
