{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

      <h2 class="text-center">Nos produits - Ouled Bakkar</h2>

        <!-- Three columns of text below the carousel -->
        <div class="row">
            {% for product in products %}
                
          
            <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-row">

                    <div>
                      <h5 class="card-title font-weight-bold mb-2">Zoro</h5>
                    </div>
                  </div>
                    <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                      <img class="img-fluid w-100" src="{{ asset('assets/image/products/'~ product.image) }}"
                        alt="Card image cap" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                  <div class="card-body">
                    <p class="card-text collapse" id="collapseContent">
                    
                    </p>
                    <div class="d-flex justify-content-between">
                      <div>
                        <h5>{{ product.name }}</h5>
                        <span class="product-price">{{ (product.price / 100) |number_format(2, ',', '.') }} €</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div><!-- /.col-lg-4 -->

            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <h2 class="text-center">Nos articles - Ouled Bakkar</h2>

        <div class="row">
          {% for article in articles %}
            <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-row">

                    <div>
                      <h5 class="card-title font-weight-bold mb-2">{{ article.title }}</h5>
                    </div>
                  </div>
                    <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                      <img src="{{ asset('assets/image/articles/'~ article.image)}}" alt="Image de mon article"
                    class="img-fluid">
                      <a href="{{ path('show', {'id': article.id })}}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                  <div class="card-body">
                    <p class="card-text collapse" id="collapseContent">
                      {{article.content}} 
                    </p>
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="date">Ecrit le {{ article.createdAt|date('d-m-Y') }} à {{ article.createdAt|date('H:i') }}</p>
                      </div>
                    </div>
                    <div> <a href="{{ path('show', {'id': article.id })}}" class="btn btn-primary">Voir plus</a></div>
                  </div>
                </div>
            </div><!-- /.col-lg-4 -->
          
          {% endfor %}
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
{% endblock %}