{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
    

{% block content %}
    <div class="container">
        <div class="mt-5">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {% for message in app.flashes('success') %}
            <div class="alert alert-warning" role="alert"> {{ message }}</div>
            {% endfor %}
 
               
           
        
            <h1>Inscription</h1>
          
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.number) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                {# <button type="submit" class="btn">Register</button> #}
                {# {{ form_row(registrationForm.agreeTerms) }} #}
            {{ form_end(registrationForm) }}
            <a href="{{path('app_cgu')}}">Lire les condition générale d'utilisation</a>
        </div>
    </div>
{% endblock %}