{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
    <h1>Article</h1>

   <div class="container">

    <div class="row"> 
        <div class="col-6">
        <img class="img-fluid" src="{{ asset('assets/image/articles/' ~ article.image) }}" alt=" article.title "/>
        </div>
        <div class="col-6"><h2 class="title">{{ article.title }}</h2><p class="content">{{ article.content }}</p></div>
    </div>
    <div class="content">
        <p class="date">Ecrit le {{ article.createdAt|date('d-m-Y') }} à {{ article.createdAt|date('H:i') }}</p>
        
    </div>

</div>
    <a href="{{ path('app_article_index') }}">Retour aux articles</a>

{% endblock %}
